@font-face {
  font-family: "Noto Sans TC";
  src: local("Noto Sans TC"),
    url("../fonts/NotoSansTC-Medium.woff") format("woff"),
    url("../fonts/NotoSansTC-Medium.woff2") format("woff2");
}

body {
  height: 200vh;
  width: fit-content;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  list-style: none;
  box-sizing: border-box;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Noto Sans TC";
  font-weight: Medium;
  scrollbar-color: transparent transparent;
  background-image: url(../img/main/background.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* header */
.header_right {
  cursor: pointer;
}

/* hamburger */

.menu {
  position: relative;
  background-color: antiquewhite;
  height: 100vh;
  overflow: hidden;
}

.menu nav {
  position: absolute;
  width: 96vw;
  justify-content: space-between;
  display: flex;
  z-index: 4;
  left: 0;
  padding-top: 10;
}

.menu nav .logo {
  width: 30vh;
}

.menu_bgimg .bg img {
  width: 110vw;
  height: 110vh;
  position: absolute;
  left: -1vw;
  top: -1vh;
  filter: brightness(1.1);
}

/* 關閉漢堡的按鈕:S */
.menu_close {
  text-align: center;
}

.menu_close {
  width: 10vw;
  height: 5vh;
  display: inline-block;
  align-items: center;
}

.menu_bgimg .bm img {
  position: absolute;
  width: 100vw;
  filter: brightness(0.85);
  left: 0;
  bottom: -30vh;
  z-index: 0;
}
.menu_close a img {
  display: block;
  position: absolute;
  right: 0;
  top: 4vh;
  width: 4.5vw;
  text-shadow: 10px 10px 5px #5f1c68;
  cursor: pointer;
  margin: 0 0;
}
/* 關閉漢堡的按鈕:E */

.cloud_1 img {
  position: absolute;
  width: 70vw;
  top: 12.2vh;
  right: -70vw;
  opacity: 70%;
  z-index: 0;
  animation-name: cloudfloat_menu;
  animation-duration: 50s;
  animation-iteration-count: infinite;
  animation-delay: 8s;
}

.cloud_2 img {
  position: absolute;
  width: 36vw;
  bottom: 31vh;
  right: -70vw;
  opacity: 60%;
  filter: brightness(0.98);
  z-index: 1;
  animation-name: cloudfloat_menu;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}

.cloud_3 img {
  position: absolute;
  width: 60vw;
  bottom: 7vh;
  right: -70vw;
  opacity: 85%;
  filter: brightness(0.98);
  z-index: 0;
  animation-name: cloudfloat_menu;
  animation-duration: 70s;
  animation-iteration-count: infinite;
  animation-delay: 9s;
}

.cloud_4 img {
  position: absolute;
  width: 39vw;
  bottom: 36vh;
  right: -70vw;
  filter: brightness(0.98);
  z-index: 1;
  animation-name: cloudfloat_menu;
  animation-duration: 100s;
  animation-iteration-count: infinite;
  animation-delay: 11s;
}

@keyframes cloudfloat_menu {
  0% {
    right: -70vw;
  }
  100% {
    right: 110vw;
  }
}

.hunted img {
  position: absolute;
  width: 8vw;
  left: 24vw;
  bottom: 3.3vh;
}

.menu_sign img {
  position: absolute;
  width: 7vw;
  left: 50vw;
  bottom: 18vh;
}

.menu_hook img {
  position: absolute;
  width: 5vw;
  right: 18vw;
  top: 0;
}

.menu_mountain img {
  position: absolute;
  width: 90vw;
  right: 0;
  bottom: 0;
  z-index: 1;
}

/* menu的選項 畫面設定 */
.menu {
  background-color: #ffffff;
  background-image: url(../img/main/background.png);
  background-size: cover;
}

.title {
  position: absolute;
  left: calc(50% - 30vw);
  top: 15vh;
  display: flex;
  justify-content: space-evenly;
  width: 60vw;
  height: 10vh;
  z-index: 5;
}

.title div {
  display: inline-block;
  margin: 3vw;
}

.title div h1 {
  color: #262626;
  font-size: 28px;
  font-weight: 700;
}
.menu .logo {
  width: fit-content;
  padding-top: 3vh;
  margin-left: 2vw;
}
.menu .logo img {
  width: 18vw;
}
.cutline {
  position: absolute;
  left: calc(50% - 28vw);
  top: 28vh;
  width: 56vw;
  height: 0.2vh;
  background-color: #000000;
  z-index: 5;
}

.wood_option {
  position: absolute;
  top: 30vh;
  left: 28.6vw;
  z-index: 5;
}
@media (min-width: 1400px) and (max-width: 1599px) {
  .wood_option {
    left: 28.6vw;
  }
}
@media (min-width: 1600px) {
  .wood_option {
    left: 29.6vw;
  }
}

.wood_option div {
  padding-top: 17px;
  padding-bottom: 7px;
  font-size: 22px;
  border-bottom-style: none;
  border-bottom-color: #262626;
  border-width: 2px;
}
.wood_option div:hover {
  border-bottom-style: outset;
  padding-bottom: 5px;
  transition: all 180ms ease-out;
}

.wood_option div a {
  z-index: 5;
  text-align: center;
  text-decoration: none;
  color: #262626;
}

.enter_option {
  position: absolute;
  top: 30vh;
  left: 49.1vw;
  z-index: 5;
}

.enter_option div {
  width: fit-content;
  padding-top: 17px;
  padding-bottom: 7px;
  font-size: 22px;
  border-bottom-style: none;
  border-bottom-color: #262626;
  border-width: 2px;
}
.snakbee_menu,
.fish_menu,
.hypoxia_menu {
  width: fit-content;
  padding-top: 17px;
  padding-bottom: 7px;
  font-size: 22px;
  border-bottom-style: none;
  border-bottom-color: #262626;
  border-width: 2px;
}

.enter_option div:hover {
  border-bottom-style: outset;
  padding-bottom: 5px;
  transition: all 180ms ease-out;
}
.snakbee_menu:hover {
  border-bottom-style: outset;
  padding-bottom: 5px;
  transition: all 180ms ease-out;
}
.fish_menu:hover {
  border-bottom-style: outset;
  padding-bottom: 5px;
  transition: all 180ms ease-out;
}
.hypoxia_menu:hover {
  border-bottom-style: outset;
  padding-bottom: 5px;
  transition: all 180ms ease-out;
}

.enter_option div a {
  z-index: 3;
  text-decoration: none;
  color: #262626;
}
.snakbee_menu a {
  z-index: 3;
  text-decoration: none;
  color: #262626;
}
.fish_menu a {
  z-index: 3;
  text-decoration: none;
  color: #262626;
}
.hypoxia_menu a {
  z-index: 3;
  text-decoration: none;
  color: #262626;
}

.heaven_option {
  position: absolute;
  top: 30vh;
  left: 66vw;
  z-index: 5;
}

.heaven_option div {
  padding-top: 17px;
  padding-bottom: 7px;
  font-size: 22px;
  border-bottom-style: none;
  border-bottom-color: #262626;
  border-width: 2px;
}
.heaven_option div:hover {
  border-bottom-style: outset;
  padding-bottom: 5px;
  transition: all 180ms ease-out;
}

.heaven_option div a {
  z-index: 3;
  text-decoration: none;
  color: #262626;
}

/* 漢堡選單 overflow 設定 */

.menu {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: -100vh;
  left: 0;
  visibility: hidden;
  transition: ease-in 220ms;
  z-index: 10000;
}

/* 開頭轉場動畫設定 */
#secondMask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url("../img/black_in.gif") center/cover no-repeat;
  opacity: 100%;
  pointer-events: none;
  transition: opacity 0;
  z-index: 1001;
}

/* backpack start*/
.header {
  z-index: 40;
}

.package {
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 30;
  position: relative;
}
#logotype {
  position: flex;
  justify-content: center;
  width: 18vw;
  filter: brightness(0.9);
  cursor: pointer;
}
#title,
#title2 {
  width: 10vw;
}
#closed_backpack {
  padding-top: 10vh;
  width: 35vw;
}
.openbag {
  position: absolute;
  width: 36.5vw;
  margin-left: -0.5vw;
  margin-top: 7vh;
  opacity: 0;
}
.openbag.active {
  opacity: 1;
  animation: apear;
  animation-duration: 1800ms;
}
@keyframes apear {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#bag_burger {
  text-align: center;
  width: 6vw;
  text-shadow: 10px 10px 5px #5f1c68;
  cursor: pointer;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 8vh;
  color: #fff2df;
  /* font-family: Noto Sans TC; */
  font-size: 18px;
  font-style: Medium;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  vertical-align: middle;
  transition: transform ease;
  z-index: 1000;
}
.header p {
  display: inline-block;
  vertical-align: middle;
  padding-top: 46px;
  padding-bottom: 50px;
}
.header img {
  display: inline-block;
  vertical-align: middle;
}
.header_left {
  display: inline-block;
  vertical-align: middle;
  width: 10vw;
  margin-left: 1vw;
  z-index: 1000;
}
.header_left a {
  height: max-content;
}
.header_center {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 74vw;
  z-index: 1000;
}
.header_center div {
  display: inline-block;
}
.altitude {
  width: fit-content;
  margin-right: 19vw;
}
.level {
  width: fit-content;
  margin-left: 10vw;
}
.scrollingNumber {
  position: absolute;
  top: 5.5vh;
  left: 35vw;
}
@media (min-width: 1600px) {
  .scrollingNumber {
    top: 4.2vh;
  }
}
.M {
  position: absolute;
  top: -0.1vh;
  left: 38.7vw;
}
.eleven {
  margin-left: 2vw;
  width: fit-content;
}
.header_right {
  display: inline-block;
  vertical-align: middle;
  text-align: right;
  width: 10vw;
  cursor: pointer;
  z-index: 1000;
}

/* header翻牌效果:Start */

.flip-card {
  position: relative;
  left: 47.5vw;
  top: -11vh;
  width: 10vw;
  height: 4vh;
  margin-left: 1vw;
}
@media (min-width: 1600px) {
  .flip-card {
    width: 10vw;
    top: -7.7vh;
  }
}

.thecard {
  position: absolute;
  display: flex;
  right: 2vw;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  background-image: url(../img/entery/title.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.firstCard,
.secondCard,
.thirdCard,
.forthCard,
.fifthCard,
.zeroCard {
  position: absolute;
  top: -0.5vh;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  opacity: 1;
}
.zeroCard {
  background: url("../img/entery/title.png") center center / cover no-repeat;
  transform: rotateY(180deg);
}

.firstCard {
  background: url("../img/fight/title_snake.png") center center / cover
    no-repeat;
  transform: rotateY(180deg);
}

.secondCard {
  background: url("../img/fight/title_fish.png") center center / cover no-repeat;
  transform: rotateY(180deg);
}

.thirdCard {
  background: url("../img/fight/title_bear.png") center center / cover no-repeat;
  transform: rotateY(180deg);
}

.forthCard {
  background: url("../img/fight/title_hmt.png") center center / cover no-repeat;
  transform: rotateY(180deg);
}
.fifthCard {
  background: url("../img/fight/title_clod.png") center center / cover no-repeat;
  transform: rotateY(180deg);
}

/* header翻牌效果:End */

/* 戰鬥頁開始 */
.bg {
  width: 100vw;
  height: 426vh;
  overflow: hidden;
}
.bg img {
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0vh;
  transition: bottom 0.5s linear;
}
.road {
  width: 100vw;
  height: 30vh;
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 0;
  overflow: hidden;
  z-index: 1;
}
.road img {
  position: absolute;
  bottom: 0vh;
  transition: bottom 0.5s linear;
  width: 103%;
}
.person img {
  width: 30vw;
}
#personImage1 {
  display: block;
}
#personImage2 {
  display: none;
}

/* 怪獸 */
.snakebee {
  width: 90vw;
  height: 80vh;
  position: fixed;
  top: -125vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
  transition: top 0.5s linear;
  cursor: pointer;
}
.snakebee img {
  width: 65vw;
  position: absolute;
  z-index: 0;
  margin-left: 12vw;
}
.fish {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: -225vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
  transition: top 0.5s linear;
  cursor: pointer;
}
.fish img {
  width: 71vw;
  position: absolute;
  z-index: 0;
}
.pigbear {
  width: 90vw;
  height: 86vh;
  position: fixed;
  top: -325vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
  transition: top 0.5s linear;
  cursor: pointer;
}
.pigbear img {
  width: 62vw;
  position: absolute;
  z-index: 0;
  margin-left: 9vw;
}
.hypoxia {
  width: 90vw;
  height: 72vh;
  position: fixed;
  top: -400vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
  transition: top 0.5s linear;
  cursor: pointer;
  margin-left: 7vw;
}
.hypoxia img {
  width: 71vw;
  position: absolute;
  z-index: 0;
}
.dragon {
  width: 90vw;
  height: 72vh;
  position: fixed;
  top: -575vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
  transition: top 0.5s linear;
  cursor: pointer;
}
.dragon img {
  margin-left: 12vw;
  width: 71vw;
  position: absolute;
  z-index: 0;
}
.person {
  width: fit-content;
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 0;
  left: 50vw;
  top: 63vh;
}
.person img {
  position: fixed;
  width: fit-content;
  height: 30vh;
  z-index: 200;
}
/* 按鈕 */
.Btns {
  left: 16%;
  position: absolute;
  display: flex;
  justify-content: center;
  text-align: center;
  z-index: 30;
  top: 75vh;
  right: -50vw;
  cursor: pointer;
}
.btn-go {
  position: fixed;
  width: 17vw;
  height: 10vh;
  background-image: url(../img/prelude/btn_default.png);
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
}
@media (min-width: 1600px) {
  .btn-go {
    width: 18vw;
    height: 10.2vh;
  }
}
.btn-go a {
  display: flex;
  justify-content: center;
  line-height: 8.4vh;
  text-decoration: none;
  color: #7b3e0e;
  font-weight: bold;
  letter-spacing: 8px;
  font-size: 20px;
}
@media (min-width: 1600px) {
  .btn-go a {
    line-height: 9.4vh;
    letter-spacing: 8px;
    font-size: 32px;
  }
}
.btn-go:hover {
  background-image: url(../img/prelude/btn_hover.png);
}
.btn-go a:hover {
  color: #ac5a24;
}
.btn-go:active {
  background-image: url(../img/prelude/btn_active.png);
}
.btn-go a:active {
  color: #4a2914;
}

.btn-run {
  position: fixed;
  width: 17vw;
  height: 10vh;
  background-image: url(../img/prelude/btn_default.png);
  background-size: contain;
  background-repeat: no-repeat;
  top: 86vh;
}
@media (min-width: 1600px) {
  .btn-run {
    width: 18vw;
    height: 10.2vh;
  }
}
.btn-run a {
  display: flex;
  justify-content: center;
  line-height: 8.4vh;
  text-decoration: none;
  color: #7b3e0e;
  font-weight: bold;
  letter-spacing: 8px;
  font-size: 20px;
}
@media (min-width: 1600px) {
  .btn-run a {
    line-height: 9.4vh;
    letter-spacing: 8px;
    font-size: 32px;
  }
}
.btn-run:hover {
  background-image: url(../img/prelude/btn_hover.png);
}
.btn-run a:hover {
  color: #ac5a24;
}
.btn-run:active {
  background-image: url(../img/prelude/btn_active.png);
}
.btn-run a:active {
  color: #4a2914;
}

/* 標籤頁 */
.cards-pages {
  position: fixed;
  width: 21vw;
  height: 27vh;
  background-image: url(../img/fight/page01.png);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

.card-info,
.card-tmi,
.card-help {
  position: fixed;
  width: 21vw;
  height: 19vh;
  overflow-y: auto;
  margin-top: 4.5vh;
}
.page-info {
  width: 2vw;
  height: 3vh;
  /* background-color: #5f1c68; */
  position: fixed;
  z-index: 10;
  cursor: pointer;
}
.page-info:hover {
  filter: brightness(2);
}
.page-tmi {
  width: 2vw;
  height: 3vh;
  /* background-color: #ac5a24; */
  position: fixed;
  z-index: 10;
  left: 7.5vw;
  cursor: pointer;
}
.page-help {
  width: 2vw;
  height: 3vh;
  /* background-color: #03c1b0; */
  position: fixed;
  z-index: 10;
  left: 10.1vw;
  cursor: pointer;
}

.cards-alert {
  left: 5vw;
  top: 71vh;
  position: absolute;
  width: 25vw;
  opacity: 1;
  background-image: url(../img/fight/page01.png);
}
.cards-alert div p {
  width: 18vw;
  font-family: Noto Sans TC;
  font-style: Medium;
  letter-spacing: 1.1px;
  line-height: 27px;
  margin-left: 3.5vw;
  margin-top: 6vh;
  color: #ffffff;
}

.cards-snakbee {
  left: 5vw;
  top: 71vh;
  position: absolute;
  width: 25vw;
  opacity: 0;
  z-index: 1;
}
.cards-snakbee div p {
  width: 18vw;
  font-family: Noto Sans TC;
  font-style: Medium;
  letter-spacing: 1.1px;
  line-height: 27px;
  margin-left: 2vw;
  margin-top: 1vh;
  color: #ffffff;
}

.cards-fish {
  left: 5vw;
  top: 71vh;
  position: absolute;
  width: 25vw;
  opacity: 0;
  transition: opacity 500mm;
  z-index: 1;
}
.cards-fish div p {
  width: 18vw;
  font-family: Noto Sans TC;
  font-style: Medium;
  letter-spacing: 1.1px;
  line-height: 27px;
  margin-left: 2vw;
  margin-top: 1vh;
  color: #ffffff;
}
.cards-pigbear {
  left: 5vw;
  top: 71vh;
  position: absolute;
  width: 25vw;
  opacity: 0;
  transition: opacity 500mm;
  z-index: 1;
}
.cards-pigbear div p {
  width: 18vw;
  font-family: Noto Sans TC;
  font-style: Medium;
  letter-spacing: 1.1px;
  line-height: 27px;
  margin-left: 2vw;
  margin-top: 1vh;
  color: #ffffff;
}
.cards-hypoxia {
  left: 5vw;
  top: 71vh;
  position: absolute;
  width: 25vw;
  opacity: 0;
  transition: opacity 500mm;
  z-index: 1;
}
.cards-hypoxia div p {
  width: 18vw;
  font-family: Noto Sans TC;
  font-style: Medium;
  letter-spacing: 1.1px;
  line-height: 27px;
  margin-left: 2vw;
  margin-top: 1vh;
  color: #ffffff;
}
.cards-dragon {
  left: 5vw;
  top: 71vh;
  position: absolute;
  width: 25vw;
  opacity: 0;
  transition: opacity 500mm;
  z-index: 1;
}
.cards-dragon div p {
  width: 18vw;
  font-family: Noto Sans TC;
  font-style: Medium;
  letter-spacing: 1.1px;
  line-height: 27px;
  margin-left: 2vw;
  margin-top: 1vh;
  color: #ffffff;
}
