@font-face {
  font-family: "Noto Sans TC medium";
  src: local("Noto Sans TC"),
    url("../../fonts/NotoSansTC-Medium.woff") format("woff"),
    url("../../fonts/NotoSansTC-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Micro5";
  src: local("Micro5-Regular"),
    url("../../fonts/Micro5-Regular.ttf") format("ttf");
}
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");

body {
  background-color: #fafafa;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: -webkit-fill-available;
  height: fit-content;
  background-color: #2e0d45;
  transition: transform ease;
  z-index: 1000;
  padding-left: 3.2vw;
  padding-right: 3.2vw;
}
.header .nav {
  width: -webkit-fill-available;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
#logotype {
  width: 11vw;
}
.header_center {
  margin-top: 3vh;
  margin-bottom: 3vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  padding-right: 1vw;
}
.header_center div {
  display: flex;
  flex-direction: row;
  margin-right: 1.2vw;
  color: #ffffff;
  font-family: Micro5;
  font-size: 20px;
}
.header_center div p {
  margin-right: 1.1vw;
  align-items: center;
}
.unlimited {
  font-family: Noto Sans TC;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}
.eleven {
  letter-spacing: 5px;
}
.thecard img {
  height: 3.5vh;
  margin-right: 1vw;
}
.header_right {
  width: fit-content;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
}
.notification,
.cart {
  padding-right: 1.5vw;
}
.bell {
  width: 1.6vw;
}
.bell_badge {
  width: 0.5vw;
  position: fixed;
  top: 2.3vh;
  right: 9.9vw;
}
.cart_icon {
  width: 1.7vw;
}
.cart_badge {
  width: 1.2vw;
  height: 2.1vh;
  position: fixed;
  top: 1.9vh;
  right: 6.2vw;
  background-image: url(../img/login_signup/badge.png);
  background-size: cover;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Micro5;
}
.profile_photo img {
  width: 2.2vw;
}

/* 商品頁首頁內容 */
.bg img {
  width: -webkit-fill-available;
  position: absolute;
  top: -34vh;
  left: 0;
  z-index: -1;
}
.content {
  margin-top: 12vh;
}
.banner {
  width: -webkit-fill-available;
  height: 64vh;
  background-image: url(../img/goods/banner.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0 16vw;
}
.banner img {
  width: -webkit-fill-available;
  position: relative;
  top: 0;
  align-items: flex-end;
}
.chevrons {
  width: -webkit-fill-available;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 30.7vh;
  padding-left: 2vw;
  padding-right: 2vw;
  opacity: 1;
}
.chevron-left {
  width: 1.7vw;
  transform: scaleX(-1);
  cursor: pointer;
}
.chevron-right {
  width: 1.7vw;
  cursor: pointer;
}
.dots {
  width: 7vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 25.7vh;
  padding-right: 2.3vw;
}
.dots span {
  width: 8px;
  height: 8px;
  border: solid 1px #ffffff;
}
.p1 {
  background-color: #ffffff;
}

/* 裝備、組合包、FAQ */
.Segmented_Controls {
  width: -webkit-fill-available;
  height: fit-content;
  border-bottom: solid 1px #e1e1e1;
  display: flex;
  align-items: center;
  padding-left: 17vw;
  padding-right: 16vw;
}
.segmented_control {
  padding: 3vh 1vw;
  color: #7d7d7d;
  border-bottom: solid 1.5px #fafafa;
  cursor: pointer;
  transition: color 300ms ease-in-out, border-bottom-color 300ms ease-in-out;
}
/* .segmented_control:hover {
  border-bottom: solid 1.5px #b024e2;
  color: #b024e2;
} */
.segmented_control.active {
  border-bottom: solid 1.5px #b024e2;
  color: #b024e2;
}
.equipment {
  font-family: Noto Sans TC;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 2px;
  user-select: none;
}
.package {
  font-family: Noto Sans TC;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
}
.faq {
  font-family: Micro5;
  font-size: 25px;
  line-height: 16px;
  letter-spacing: 1px;
}

/* 單品 */
#equipment_page {
  height: fit-content;
  padding-left: 16vw;
  padding-right: 16vw;
  margin-top: 4vh;
  margin-bottom: 15vh;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
.page {
  height: fit-content;
  padding-left: 16vw;
  padding-right: 16vw;
  margin-top: 4vh;
  margin-bottom: 15vh;
  opacity: 0;

  display: none;
}
.page.active {
  opacity: 1;
  display: block;
}
.Products {
  width: -webkit-fill-available;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.product {
  width: fit-content;
  height: fit-content;
  margin-bottom: 5vh;
  cursor: pointer;
}
.picture_border {
  position: relative;
  width: fit-content;
  height: fit-content;
}
.picture {
  width: 21.6vw;
  height: 21.6vw;
  background-size: cover;
  clip-path: polygon(
    0% 6%,
    3% 6%,
    3% 3%,
    6% 3%,
    6% 0%,
    94% 0%,
    94% 3%,
    97% 3%,
    97% 6%,
    100% 6%,
    100% 94%,
    97% 94%,
    97% 97%,
    94% 97%,
    94% 100%,
    6% 100%,
    6% 97%,
    3% 97%,
    3% 94%,
    0% 94%
  );
  z-index: 2;
}
.border {
  position: absolute;
  background: #e1e1e1;
  width: 100.5%;
  height: 101%;
  top: -0.18vh;
  left: -0.1vw;
  clip-path: polygon(
    0% 6%,
    3% 6%,
    3% 3%,
    6% 3%,
    6% 0%,
    94% 0%,
    94% 3%,
    97% 3%,
    97% 6%,
    100% 6%,
    100% 94%,
    97% 94%,
    97% 97%,
    94% 97%,
    94% 100%,
    6% 100%,
    6% 97%,
    3% 97%,
    3% 94%,
    0% 94%
  );
  z-index: -1;
}
.bandage .picture {
  background: url(../img/goods/IMG_7711.JPG) no-repeat;
  background-size: 160%;
  background-position: center;
  transition: 300ms ease;
}
.bandage:hover .picture {
  background-size: 180%;
  transition: 300ms ease;
}
.marktape .picture {
  background: url(../img/goods/IMG_7724.jpg) no-repeat;
  background-size: 160%;
  background-position: 90%;
  transition: 300ms ease;
}
.marktape:hover .picture {
  background-size: 180%;
  transition: 300ms ease;
}
.splint .picture {
  background: url(../img/goods/IMG_7774.png) no-repeat;
  background-size: 160%;
  background-position: 78%;
  transition: 300ms ease;
}
.splint:hover .picture {
  background-size: 180%;
  transition: 300ms ease;
}
.manual .picture {
  background: url(../img/goods/IMG_7784.JPG) no-repeat;
  background-size: 160%;
  background-position: 30%;
  transition: 300ms ease;
}
.manual:hover .picture {
  background-size: 180%;
  transition: 300ms ease;
}
/* 單品敘述 */
.Products .depiction {
  padding: 2.1vh 0.5vw 0.5vh 0.5vw;
  user-select: none;
}
.top {
  width: -webkit-fill-available;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1.4vh;
}
.top .pdtName {
  font-family: Noto Sans TC;
  font-size: 17px;
  font-weight: 400;
  line-height: 14px;
  margin-bottom: 1.2vh;
}
.top .pdtDetail {
  font-family: Noto Sans TC;
  font-size: 13px;
  font-weight: 400;
  line-height: 12px;
  margin-bottom: 0.5vh;
}
.top .pdtPrice {
  color: #b024e2;
  font-family: Micro5;
  font-size: 38px;
  line-height: 32px;
}
.scoretype {
  display: flex;
  flex-direction: row;
  margin-bottom: 2.1vh;
}
.scoretype img {
  width: 12px;
  height: 12px;
  margin-right: 0.2vw;
}
.scoretype .score {
  font-family: Micro5;
  font-size: 22px;
  line-height: 13px;
}
.scoretype .comments {
  color: #4b4b4b;
  font-family: Micro5;
  font-size: 19px;
  line-height: 14px;
  display: flex;
  flex-direction: row;
  margin-left: 0.3vw;
}
.scoretype .comments .zpl {
  font-size: 12px;
  line-height: 16px;
}
/* 免運、優惠券 */
.chips {
  display: flex;
  flex-direction: row;
}
.chip_fill {
  width: fit-content;
  height: fit-content;
  padding: 0.8vh 0.8vw 0.8vh 0.8vw;
  background-color: #f3e5f8;
  font-family: Noto Sans TC;
  font-size: 11px;
  font-weight: 400;
  color: #b024e2;
  margin-right: 0.4vw;
}
.chip_free {
  width: fit-content;
  height: fit-content;
  padding: 0.8vh 0.8vw 0.8vh 0.8vw;
  background-color: #fbe9de;
  font-family: Noto Sans TC;
  font-size: 11px;
  font-weight: 400;
  color: #ff893c;
  margin-right: 0.4vw;
}
.chip_outline img {
  width: 0.9vw;
  margin-right: 0.2vw;
}
.chip_outline {
  width: fit-content;
  height: fit-content;
  padding: 0.5vh 0.6vw 0.5vh 0.6vw;
  border: solid 1px #7d7d7d;
  font-family: Noto Sans TC;
  font-size: 11px;
  line-height: 11px;
  font-weight: 400;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* 組合包 */
#package_page {
  height: fit-content;
  padding-left: 16vw;
  padding-right: 16vw;
  margin-top: 4vh;
  margin-bottom: 15vh;
  opacity: 1;
}
.bandaging_set .picture {
  width: 33vw;
  height: 23.6vw;
  background: url(../img/goods/bandaging_set.png) no-repeat;
  background-size: 112%;
  background-position: center;
  transition: 300ms ease;
  filter: drop-shadow(0 0 0.1px #e1e1e1);
}
.bandaging_set:hover .picture {
  background-size: 130%;
  transition: 300ms ease;
}
.rescue_kit .picture {
  width: 33vw;
  height: 23.6vw;
  background: url(../img/goods/rescue_kit.png) no-repeat;
  background-size: 130%;
  background-position: center;
  transition: 300ms ease;
}
.rescue_kit:hover .picture {
  background-size: 150%;
  transition: 300ms ease;
}

/* FAQ */
#faq_page {
  background-color: #f3e5f8;
  height: 10vh;
  padding-left: 16vw;
  padding-right: 16vw;
  margin-top: 4vh;
  margin-bottom: 15vh;
  opacity: 1;
}

/* 下方滾動條 */
.rollingbar {
  padding: 1vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
  overflow: hidden;
  align-items: center;
  width: -webkit-fill-available;
  height: 3vh;
  margin-bottom: 5.1vh;
}
.gray_items {
  display: flex;
  position: absolute;
  right: 100vw;
  background-color: #fafafa;
  animation: rolling 30s linear infinite;
  width: fit-content;
  overflow: visible;
}
.rollingbar img {
  width: 3vw;
  padding-right: 1vw;
}
.solid_mario {
  width: 5vw;
  transform: scaleX(-1);
  padding-left: 1vw;
}
@keyframes rolling {
  to {
    right: -40vw;
  }
}
.gp1 {
  animation-delay: calc(30s / 5 * (5 - 1) * -1);
}
.gp2 {
  animation-delay: calc(30s / 5 * (5 - 2) * -1);
}
.gp3 {
  animation-delay: calc(30s / 5 * (5 - 3) * -1);
}
.gp4 {
  animation-delay: calc(30s / 5 * (5 - 4) * -1);
}
.gp5 {
  animation-delay: calc(30s / 5 * (5 - 5) * -1);
}

/* footer */
.footer {
  position: absolute;
  height: 32vh;
  width: -webkit-fill-available;
  background-color: #2b0c40;
  padding-top: 9vh;
  padding-bottom: 4vh;
  padding-left: 10vw;
  padding-right: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer .contents {
  margin-top: 0;
  width: 70vw;
  height: 22vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.contents .shortcuts {
  width: 32vw;
  font-family: Micro5;
  font-size: 23px;
  line-height: auto;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}
.shortcuts a {
  position: relative;
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
  border-bottom: solid 1.5px #2e0d45;
}
.shortcuts a::after {
  content: "";
  position: absolute;
  width: 100%;
  background-color: #ffffff;
  height: 1.5px;
  left: 0;
  bottom: 0;
  transform: scale(0, 1);
  transition: transform 150ms ease-in-out;
}
.shortcuts a:hover::after {
  transform: scale(1, 1);
}
.shortcuts p {
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
}
.divider {
  width: -webkit-fill-available;
  height: 0.1vh;
  background-color: #5e3d6a;
}
.contents .infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 12px;
  font-weight: 300;
  color: #ffffff;
}
.infos div {
  display: flex;
  flex-direction: row;
  padding-bottom: 2vh;
}
.infos div p {
  margin-right: 1vw;
}
.copyright {
  font-family: Noto Sans TC;
  color: #ffffff;
  line-height: 29px;
  display: flex;
  flex-direction: row;
  margin-top: 9vh;
}
.copyicon {
  font-size: 16px;
  padding-right: 4px;
}
.copytext {
  font-size: 12px;
}
