@font-face {
  font-family: "Noto Sans TC medium";
  src: local("Noto Sans TC"),
    url("../../fonts/NotoSansTC-Medium.woff") format("woff"),
    url("../../fonts/NotoSansTC-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Micro5";
  src: local("Micro5-Regular"),
    url("../../fonts/Micro5-Regular.ttf") format("ttf");
}
@import url("https://fonts.googleapis.com/css2?family=Micro+5&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");

::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}
::-webkit-scrollbar-track {
  background: transparent;
}

body {
  background-color: #fafafa;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: -webkit-fill-available;
  height: fit-content;
  background-color: #2e0d45;
  transition: transform ease;
  z-index: 99;
  padding-left: 3.2vw;
  padding-right: 3.2vw;
}
.header .nav {
  width: -webkit-fill-available;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
#logotype {
  width: 11vw;
}
.header_center {
  margin-top: 3vh;
  margin-bottom: 3vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  padding-right: 1vw;
}
.header_center div {
  display: flex;
  flex-direction: row;
  margin-right: 1.2vw;
  color: #ffffff;
  font-family: Micro5;
  font-size: 26px;
}
.header_center div p {
  margin-right: 1.1vw;
  align-items: center;
}
.unlimited {
  font-family: Noto Sans TC;
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
}
@media (max-width: 1600px) {
  .header_center div {
    font-size: 20px;
  }
  .unlimited {
    font-size: 16px;
    line-height: 18px;
  }
}
.eleven {
  letter-spacing: 5px;
}
.thecard img {
  height: 3.5vh;
  margin-right: 1vw;
}
.header_right {
  width: fit-content;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
}
.notification,
.cart {
  padding-right: 1.5vw;
  cursor: pointer;
  user-select: none;
}
.bell {
  width: 1.6vw;
}
.bell_badge {
  width: 0.5vw;
  position: fixed;
  top: 2.3vh;
  right: 9.9vw;
}
#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.notify {
  position: fixed;
  width: 22.2vw;
  height: 45vh;
  top: 10.2vh;
  right: 10vw;
  background-color: #fafafa;
  z-index: 2;
  user-select: none;
  box-shadow: 0 0 20px 0 rgba(46, 13, 69, 0.15);
}
#overlay .noti_header {
  background-color: #2b0c40;
  color: white;
  width: -webkit-fill-available;
  height: fit-content;
  padding: 1.3vw 1vw;
}
.noti_header p {
  font-family: Noto Sans TC;
  font-size: 18px;
  font-weight: 400;
}
.noti_li {
  width: -webkit-fill-available;
  padding: 1vw;
  font-family: Noto Sans TC;
  border-bottom: solid 1px #e1e1e1;
  /* cursor: pointer; */
}
.noti_li:hover {
  background-color: #f6f5f5;
}
.noti_li .noti_txt {
  color: black;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 1.2vh;
}
.noti_li .time {
  color: #ababab;
  font-size: 14px;
  margin-bottom: 0.5vh;
}
.cart_icon {
  width: 1.7vw;
}
.cart_badge {
  width: 1.2vw;
  height: 2.1vh;
  position: fixed;
  top: 1.9vh;
  right: 6.2vw;
  background-image: url(../img/login_signup/badge.png);
  background-size: cover;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Micro5;
}
.profile_photo img {
  width: 2.2vw;
  user-select: none;
}

/* 裝備、組合包、FAQ */
.Segmented_Controls {
  width: -webkit-fill-available;
  height: fit-content;
  border-bottom: solid 1px #e1e1e1;
  display: flex;
  align-items: center;
  padding-left: 17vw;
  padding-right: 16vw;
  margin-top: 9.3vh;
}
.segmented_control {
  padding: 3vh 1vw;
  color: #7d7d7d;
  border-bottom: solid 1.5px #fafafa;
  cursor: pointer;
  transition: color 300ms ease-in-out, border-bottom-color 300ms ease-in-out;
}
.segmented_control.active {
  border-bottom: solid 1.5px #b024e2;
  color: #b024e2;
}
.equipment {
  font-family: Noto Sans TC;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 2px;
  user-select: none;
  border-bottom: solid 1.5px #b024e2;
  color: #b024e2;
}
.package {
  font-family: Noto Sans TC;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
}
.faq {
  font-family: Micro5;
  font-size: 27px;
  line-height: 16px;
  letter-spacing: 1px;
}

/* 包紮繃帶頁面 */
.crumbs {
  width: -webkit-fill-available;
  height: fit-content;
  padding: 0 16vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 2.4vh 1.2vw 2vh 1.2vw;
}
.crumbs a {
  text-decoration: none;
  color: black;
  font-family: Noto Sans TC;
  font-size: 14px;
  font-weight: normal;
}
.crumbs img {
  width: 16px;
  margin: 0 0.2vw;
}

/* 左半圖片預覽 */
.item_page {
  width: -webkit-fill-available;
  height: 80vh;
  padding: 0 16vw;
  display: flex;
  flex-direction: row;
  margin-bottom: 3vh;
}
.Pictures {
  width: 38vw;
  margin: 0.7vh 7vw 0 1.2vw;
}
.banner {
  width: -webkit-fill-available;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5vw;
}
.chevron-left {
  width: 1.4vw;
  transform: scaleX(-1);
  cursor: pointer;
  /* filter: grayscale(1); */
}
.chevron-right {
  width: 1.4vw;
  cursor: pointer;
}
/* 大圖切換 */
.carousel {
  width: 26.5vw;
  height: 26.5vw;
  pointer-events: none;
}
.carousel_track-container {
  background-color: #fbe9de;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.carousel_track {
  list-style: none;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0vw;
  transition: left 600ms ease-in-out;
}
.carousel_slide {
  height: 100%;
  display: flex;
  flex-direction: row;
}
.carousel_slide img {
  width: 26.5vw;
  height: 100%;
  object-fit: cover;
}
.control_bar {
  background-color: #e1e1e1;
  height: 2px;
  width: -webkit-fill-available;
  margin: 3.6vh 0;
  position: relative;
}
.progress-bar {
  position: absolute;
  width: 20%;
  background-color: #b024e2;
  height: 3px;
  left: 0;
  transition: left 600ms ease-in-out;
}
.preview {
  width: -webkit-fill-available;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.preview div {
  width: 6.6vw;
  height: 6.6vw;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 1vw;
  cursor: pointer;
  transition: outline 250ms ease;
}
.p1 {
  background-image: url(../img/goods/new_/IMG_9828C.png);
  background-position: 50%;
}
.selected {
  outline: solid 3px #b024e2;
  outline-offset: -3px;
}
.p2 {
  background-image: url(../img/goods/new_/IMG_9836.png);
}
.p3 {
  background-image: url(../img/goods/new_/IMG_9832.png);
}
.p4 {
  background-image: url(../img/goods/new_/IMG_9846.png);
}
.p5 {
  background-image: url(../img/goods/new_/IMG_9834.png);
}

/* 右半商品敘述 */
.contents {
  width: 22vw;
  height: 68vh;
  /* background-color: antiquewhite; */
}
.main {
  padding-bottom: 2.1vh;
  border-bottom: solid 1px #e1e1e1;
}
.pdtDetail {
  font-family: Noto Sans TC;
  font-size: 12.5px;
  font-weight: normal;
  color: black;
  line-height: 16px;
  letter-spacing: 0.5px;
}
.titleCodes {
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  margin-top: 2.2vh;
  border-bottom: solid 1px #e1e1e1;
}
.title {
  font-family: Noto Sans TC;
  font-size: 38px;
  font-weight: 500;
}
.bottom {
  width: -webkit-fill-available;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.2vh;
  margin-bottom: 1vh;
}
.scoretype {
  display: flex;
  flex-direction: row;
}
.pixel_star {
  width: 4.8vw;
  height: 12.5px;
  margin-right: 0.2vw;
  background-image: url(../img/goods/pixel_star.png);
  background-size: contain;
  background-repeat: space;
  margin-right: 0.3vw;
}
.scoretype .score {
  font-family: Micro5;
  font-size: 22px;
  line-height: 13px;
}
.scoretype .comments {
  color: #4b4b4b;
  font-family: Micro5;
  font-size: 19px;
  line-height: 14px;
  display: flex;
  flex-direction: row;
  margin-left: 0.3vw;
}
.scoretype .comments .zpl {
  font-size: 12px;
  line-height: 16px;
}
.share-nodes {
  width: 1.5vw;
}
/* divider */
.main .price {
  font-family: Micro5;
  font-size: 52px;
  color: #b024e2;
  margin: 1.2vh 0;
}
.chips {
  display: flex;
  flex-direction: column;
}
.chip_outline img {
  width: 0.9vw;
  margin-right: 0.4vw;
}
.chip_outline {
  width: fit-content;
  height: fit-content;
  padding: 0.5vh 0.5vw;
  border: solid 1px #7d7d7d;
  font-family: Noto Sans TC;
  font-size: 11px;
  line-height: 11px;
  font-weight: 400;
  color: #4b4b4b;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.chip_fill img {
  width: 1vw;
  margin-right: 0.3vw;
}
.chip_fill {
  width: fit-content;
  height: fit-content;
  padding: 0.6vh 0.5vw;
  background-color: #f3e5f8;
  font-family: Noto Sans TC;
  font-size: 11px;
  font-weight: 400;
  color: #b024e2;
  margin-top: 0.4vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
/* pdt_info */
.pdt_info {
  margin-top: 1.8vh;
}
.pdt_info h3 {
  font-family: Noto Sans TC;
  font-size: 17px;
  font-weight: 400;
}
.pdt_info p {
  font: Noto Sans TC;
  font-size: 14px;
  color: #4b4b4b;
  font-weight: 400;
  margin-top: 1.8vh;
  line-height: 18px;
}
/* 數量方塊 */
.input_quantity {
  margin-top: 2.5vh;
  background-color: #f5f5f5;
  width: -webkit-fill-available;
  height: fit-content;
  padding: 3vh 0.8vw;
}
.input_quantity .top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: Noto Sans TC;
  font-size: 16px;
  line-height: 14px;
}
.qnt_N_price {
  margin-top: 1.8vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: Noto Sans TC;
  font-weight: 500;
}
.qnt_N_price .price {
  font-size: 16px;
}
.qnt_Num {
  width: 5.6vw;
  height: 3vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #fafafa;
  border: solid 1px #e1e1e1;
  padding: 0.2vh 0.5vw;
  font-size: 14px;
}
.qnt_Num img {
  width: 1.1vw;
}
/* bottons */
.Btns {
  margin-top: 1.8vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: -webkit-fill-available;
  font-family: Noto Sans TC;
  font-weight: 500;
}
#addcart {
  width: 8.4vw;
  padding: 15px 15px;
  border: solid 1px #b024e2;
  text-decoration: none;
  color: #b024e2;
  display: flex;
  justify-content: center;
}
#addcart:hover {
  background-color: #f8f4f9;
  cursor: pointer;
}
#tobuy {
  margin-left: 1vw;
  width: 8.4vw;
  padding: 15px 15px;
  background-color: #b024e2;
  border: solid 1px #b024e2;
  color: #ffffff;
  display: flex;
  justify-content: center;
}
#tobuy:hover {
  background-color: #9219be;
  cursor: pointer;
}

/* footer */
.footer {
  position: absolute;
  height: 32vh;
  width: -webkit-fill-available;
  background-color: #2b0c40;
  padding-top: 9vh;
  padding-bottom: 4vh;
  padding-left: 10vw;
  padding-right: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer .contents {
  margin-top: 0;
  width: 70vw;
  height: 22vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.contents .shortcuts {
  width: 32vw;
  font-family: Micro5;
  font-size: 23px;
  line-height: auto;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}
.shortcuts a {
  position: relative;
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
  border-bottom: solid 1.5px #2e0d45;
}
.shortcuts a::after {
  content: "";
  position: absolute;
  width: 100%;
  background-color: #ffffff;
  height: 1.5px;
  left: 0;
  bottom: 0;
  transform: scale(0, 1);
  transition: transform 150ms ease-in-out;
}
.shortcuts a:hover::after {
  transform: scale(1, 1);
}
.shortcuts p {
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
}
.divider {
  width: -webkit-fill-available;
  height: 0.1vh;
  background-color: #5e3d6a;
}
.contents .infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 12px;
  font-weight: 300;
  color: #ffffff;
}
.infos div {
  display: flex;
  flex-direction: row;
  padding-bottom: 2vh;
}
.infos div p {
  margin-right: 1vw;
}
.copyright {
  font-family: Noto Sans TC;
  color: #ffffff;
  line-height: 29px;
  display: flex;
  flex-direction: row;
  margin-top: 9vh;
}
.copyicon {
  font-size: 16px;
  padding-right: 4px;
}
.copytext {
  font-size: 12px;
}
