/* 手機版 */

@media (max-width: 1000px) {
  .hint p {
    font-size: medium;
    text-decoration: none;
    color: #2e0d45;
    font-family: "Noto Sans TC";
    font-size: 14px;
  }
  nav {
    position: absolute;
    width: 97vw;
    justify-content: space-between;
    display: flex;
    z-index: 4;
    right: 0;
    padding: 20px;
  }

  .logo {
    padding: 5vw;
  }

  .logo a img {
    width: 40vw;
    left: 0vw;
    top: -20vh;
  }

  nav .burger {
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0;
  }

  nav .burger a img {
    text-align: center;
    width: 20vw;
    text-shadow: 10px 10px 5px #5f1c68;
    cursor: pointer;
  }

  nav .burger a img :active {
    transform: scale(1);
  }

  /* 首頁 */

  .pareallax {
    background-image: url(../img/main/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    height: 100vh;
    /* display: flex; */
    overflow: hidden;
  }

  #scene div {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: -1vw;
    top: -1vh;
  }

  .bg img {
    width: 110vw;
    height: 110vh;
    position: relative;
    left: -1vw;
    top: -1vh;
    filter: brightness(0.95);
  }

  .bm img {
    position: absolute;
    width: 760vw;
    filter: brightness(0.85);
    left: -380vw;
    bottom: 20vh;
    z-index: 1;
  }

  .watterflow img {
    position: absolute;
    width: 400vw;
    bottom: 30vw;
    left: -100vw;
    filter: brightness(0.98);
    z-index: 1;
  }

  .sea-monster img {
    position: absolute;
    width: 150vw;
    right: -5vw;
    bottom: 38vh;
    z-index: 1;
    animation-name: fishout;
    animation-duration: 1000ms;
    animation-iteration-count: 1;
  }

  @keyframes fishout {
    0% {
      right: -50vw;
    }

    100% {
      right: -5vw;
    }
  }

  .fm img {
    position: absolute;
    width: 250vw;
    right: -65vw;
    bottom: 25vh;
    filter: brightness(0.96);
    z-index: 2;
  }

  .cloud_back img {
    position: absolute;
    width: 100vw;
    right: -10vw;
    top: 10vh;
    z-index: 2;
    animation-name: cloudfloat_back;
    animation-duration: 55s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    /* animation-delay: 10s; */
    filter: brightness(0.95);
    /* opacity: 60%; */
  }

  @keyframes cloudfloat_back {
    0% {
      right: -70vw;
    }
    95% {
      righ: 70vw;
    }
    100% {
      right: 110vw;
    }
  }

  .cloud_front img {
    position: absolute;
    width: 100vw;
    right: -10vw;
    bottom: 50vh;
    z-index: 2;
    animation-name: cloudfloat_front;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    /* opacity: 80%; */
  }

  @keyframes cloudfloat_front {
    0% {
      right: -70vw;
    }
    95% {
      righ: 70vw;
    }
    100% {
      right: 110vw;
    }
  }

  .ground img {
    position: absolute;
    width: 250vw;
    right: -15vw;
    bottom: -2vh;
    z-index: 2;
  }

  .flower img {
    position: absolute;
    width: 50vw;
    right: 50vw;
    bottom: 20vh;
    z-index: 2;
    animation-name: flowerout;
    animation-duration: 400ms;
    animation-iteration-count: 1;
    animation-delay: 1s;
    animation-fill-mode: forwards; /*保留最後設定的樣式值*/
  }

  @keyframes flowerout {
    from {
      right: 12vw;
    }

    to {
      right: 50vw;
    }
  }

  .woodenhouse img {
    position: absolute;
    width: 200vw;
    right: -10vw;
    bottom: 5vh;
    z-index: 2;
  }

  .grass_left img {
    position: absolute;
    width: 80vw;
    bottom: -35vh;
    left: -10vw;
    z-index: 3;
  }

  .grass_right img {
    position: absolute;
    width: 30vw;
    bottom: -10vh;
    right: 0vw;
    z-index: 3;
  }

  .sign img {
    position: absolute;
    width: 50vw;
    left: 0;
    bottom: 0;
    z-index: 3;
  }

  .hook img {
    position: absolute;
    width: 15vw;
    left: 70vw;
    top: 0vh;
    z-index: 3;
  }

  /* 首頁設定:End */
  /* 轉場動畫 */

  .circle {
    width: fit-content;
    width: 5vw;
    z-index: 1000;
    cursor: pointer;
    opacity: 0;
    animation-name: BtnAppear;
    animation-duration: 600ms;
    animation-iteration-count: 1;
    animation-delay: 2.5s;
    animation-fill-mode: forwards; /*保留最後設定的樣式值*/
  }

  .circle img {
    position: absolute;
    bottom: 13vh;
    right: 28vw;
    width: 4vw;
  }

  @keyframes BtnAppear {
    to {
      opacity: 100%;
    }
  }

  #myButton {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 90vh;
    background: none;
    border: none;
    cursor: pointer;
    pointer-events: auto;
    opacity: 0;
    z-index: 1;
    animation-name: circleout;
    animation-duration: 400ms;
    animation-iteration-count: 1;
    animation-delay: 2.5s;
    animation-fill-mode: forwards; /*保留最後設定的樣式值*/
  }

  @keyframes circleout {
    from {
      z-index: 1;
    }

    to {
      z-index: 1000;
    }
  }

  #mask {
    position: fixed;
    top: 0;
    left: 0vw;
    width: 100vw;
    height: 100vh;
    background: url("../img/back_out2.gif") center/cover no-repeat;
    opacity: 0;
    z-index: 99;
    pointer-events: none;
    transition: opacity 0.5s;
  }
  /* hamburger */

  .menu {
    position: relative;
    background-color: antiquewhite;
    height: 100vh;
    overflow: hidden;
  }

  .menu nav {
    position: absolute;
    width: 96vw;
    justify-content: space-between;
    display: flex;
    z-index: 4;
    left: 0;
    padding-top: 10;
  }

  .menu nav .logo {
    width: 30vw;
  }

  .menu_bgimg .bg img {
    width: 110vw;
    height: 110vh;
    position: absolute;
    left: -1vw;
    top: -1vh;
    filter: brightness(1.1);
  }
  /* 關閉漢堡的按鈕:S */
  .menu_close {
    text-align: center;
  }

  .menu_close {
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu_bgimg .bm img {
    position: absolute;
    width: 100vw;
    filter: brightness(0.85);
    left: 0;
    bottom: -30vh;
    z-index: 0;
  }
  .menu_close a img {
    display: block;
    max-width: 100%;
    height: auto;
    position: absolute;
    right: 12vw;
    width: 10vw;
    text-shadow: 10px 10px 5px #5f1c68;
    cursor: pointer;
    margin: 0 0;
  }
  /* 關閉漢堡的按鈕:E */
  .cloud_1 img {
    position: absolute;
    width: 70vw;
    top: 12.2vh;
    right: -70vw;
    opacity: 70%;
    z-index: 0;
    animation-name: cloudfloat_menu;
    animation-duration: 50s;
    animation-iteration-count: infinite;
    animation-delay: 8s;
  }

  .cloud_2 img {
    position: absolute;
    width: 36vw;
    bottom: 31vh;
    right: -70vw;
    opacity: 60%;
    filter: brightness(0.98);
    z-index: 1;
    animation-name: cloudfloat_menu;
    animation-duration: 30s;
    animation-iteration-count: infinite;
  }

  .cloud_3 img {
    position: absolute;
    width: 60vw;
    bottom: 7vh;
    right: -70vw;
    opacity: 85%;
    filter: brightness(0.98);
    z-index: 0;
    animation-name: cloudfloat_menu;
    animation-duration: 70s;
    animation-iteration-count: infinite;
    animation-delay: 9s;
  }

  .cloud_4 img {
    position: absolute;
    width: 39vw;
    bottom: 36vh;
    right: -70vw;
    filter: brightness(0.98);
    z-index: 1;
    animation-name: cloudfloat_menu;
    animation-duration: 100s;
    animation-iteration-count: infinite;
    animation-delay: 11s;
  }

  @keyframes cloudfloat_menu {
    0% {
      right: -70vw;
    }
    100% {
      right: 110vw;
    }
  }

  .hunted img {
    position: absolute;
    width: 25vw;
    left: 16vw;
    bottom: 3vh;
  }

  .menu_sign img {
    position: absolute;
    width: 15vw;
    left: 52vw;
    bottom: 7.5vh;
  }

  .menu_hook img {
    position: absolute;
    width: 10vw;
    right: 18vw;
    top: 0;
  }

  .menu_mountain img {
    position: absolute;
    width: 120vw;
    bottom: 0;
    z-index: 1;
  }

  .alert {
    position: absolute;
    right: 2vw;
    bottom: 2vh;
    z-index: 5;
    opacity: 65%;
  }

  .alert img {
    width: 10vw;
    cursor: pointer;
  }

  /* menu的選項 畫面設定 */

  .title {
    position: absolute;
    left: calc(50% - 40vw);
    display: block;
    justify-content: space-evenly;
    width: 80vw;
    z-index: 5;
  }

  .title div {
    position: relative;
    display: block;
  }
  .title .entertxt {
    top: 11.5vh;
  }
  .title .heaven {
    top: 35vh;
  }
  .title div h1 {
    color: #262626;
    font-size: 20px;
    font-weight: 500;
  }

  .cutline,
  .cutline2,
  .cutline3 {
    position: absolute;
    left: calc(50% - 38vw);
    top: 20vh;
    width: 75vw;
    height: 0.1vh;
    background-color: #000000;
    z-index: 5;
  }
  .cutline2 {
    top: 35vh;
  }
  .cutline3 {
    top: 63vh;
  }

  .menu p {
    font-family: "Noto Sans TC";
    font-weight: 200;
  }

  .wood_option {
    position: absolute;
    top: 22vh;
    left: 15vw;
    z-index: 5;
  }

  .wood_option div {
    padding-top: 5px;
    font-size: 16px;
    border-bottom-style: none;
    border-bottom-color: #262626;
  }

  .wood_option div:hover {
    border-bottom-style: outset;
    padding-bottom: 5px;
    transition: all 180ms ease-out;
    cursor: pointer;
  }

  .wood_option div a {
    z-index: 5;
    text-align: center;
    text-decoration: none;
    color: #262626;
  }

  .enter_option {
    position: absolute;
    top: 37vh;
    left: 15vw;
    z-index: 5;
  }

  .enter_option div {
    padding-top: 5px;
    font-size: 16px;
    border-bottom-style: none;
    border-bottom-color: #262626;
  }
  .enter_option div:hover {
    border-bottom-style: outset;
    padding-bottom: 5px;
    transition: all 180ms ease-out;
    cursor: pointer;
  }

  .enter_option div a {
    z-index: 3;
    text-decoration: none;
    color: #262626;
  }

  .enter_option div a p {
    display: inline-block;
  }

  .purple {
    color: #5f1c68;
    font-size: large;
    opacity: 0;
  }

  .enter_option div:hover .purple {
    opacity: 1;
    transition: opacity 180ms ease-out;
  }

  .heaven_option {
    position: relative;
    top: 65vh;
    left: 15vw;
    z-index: 5;
  }

  .heaven_option div {
    padding-top: 5px;
    font-size: 16px;
    border-bottom-style: none;
    border-bottom-color: #262626;
  }
  .heaven_option div:hover {
    border-bottom-style: outset;
    padding-bottom: 5px;
    transition: all 180ms ease-out;
    cursor: pointer;
  }

  .heaven_option div a {
    z-index: 3;
    text-decoration: none;
    color: #262626;
  }

  /* 漢堡選單 overflow 設定 */

  .menu {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: -100vh;
    left: 0;
    visibility: hidden;
    transition: ease-in 220ms;
    z-index: 99;
  }

  /* footer色塊 */

  .footer {
    height: fit-content;
    background-color: #2e0d45;
  }

  .fbg img {
    width: 100vw;
  }

  /* 提示句 */
  .hint {
    width: 100vw;
    margin-top: 0vh;
    position: absolute;
    display: none;
    opacity: 0;
    justify-content: center;
    z-index: 50;
    animation: hintted 1500ms linear infinite, flash 750ms infinite alternate;
    pointer-events: none;
  }
  @keyframes hintted {
    0% {
      margin-top: 2vh;
    }
    25% {
      margin-top: 1vh;
    }
    50% {
      margin-top: 2vh;
    }
    75% {
      margin-top: 3vh;
    }
    100% {
      margin-top: 2vh;
    }
  }
  @keyframes flash {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .hint p {
    font-size: small;
    text-decoration: none;
    color: #2e0d45;
    font-family: "Noto Sans TC";
  }
}
